* {
    margin: 0px;
    padding: 0px;
}
.navbar{
    position: relative;
    margin: 12px 12px;
}
.navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;      
    top: 0;
    left: 0;
    background-image: url(../background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 2;
}
.contact-content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 13px;
    padding: 5px;
    padding-bottom: 15px;
    margin-top: 20px;
    line-height: 30px;
    margin-top: 5vh;
    margin-bottom: 0px;
}

.contact-content::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
}

.contact-searchbox {
    width: 90%;
    overflow: hidden;
    padding: 10px 4px;
    color: black;
}
.formbutton{
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
}