:root {
    --bg-color: purple;
}

.width {
    width: 75vw;
    /* background-color: lightcoral; */
}

.margin {
    margin: auto;
}

.button {
    font-size: 12px;
    border-radius: 4px;
    padding: 2px;
    /* border: none; */
}

.buttons {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid black;
    font-family: 'Protest Guerrilla';
    color: white;
    background-color: black;
}

.search-box {
    width: 43%;
    border: 2px solid black;
    font-family: 'Protest Guerrilla';
    border-radius: 8px;
    padding: 5px;
    /* color: black; */
}